@import url(reset.css);

.flex-container {
	height: 500px;
	background-color: blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.flex-item {
	height: 100px;
	width: 300px;
	background-color: orange;
}

.flex-item.one {
	order: 1;
}
