@import url(reset.css);

html {
	font-size: 10px;
}

.header {
	height: 140px;
	width: 1440px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.h1 {
	font-family: Arial;
	font-size: 5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 5.7rem;
	text-align: left;
	padding-left: 5rem;
	color: #E50043;
}

.link {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 5rem;
	line-height: 5.7rem;
	color: #E50043;
	padding-left: 2.5rem;
	padding-right: 5rem;
}

.big-section {
	width: 1440px;
	height: 950px;
	background-image: url(../img/evian.png);
	display: flex;
}

.big-section h1 {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10rem;
	line-height: 11.5rem;
	color: #E50043;
	margin: auto;
}

.main-section {
	width: 144rem;
	height: 58rem;
	display: flex;
}

.text1-container {
	width: 1040px;
	height: 280px;
	border: .3rem solid #F8BFC7;
	border-radius: 20px;
	padding: 2.4rem;
	box-sizing: border-box;
	margin: auto;
}

.text1 {
	font-family: Arial;
	font-size: 2.5rem;
	line-height: 2.9rem;
	letter-spacing: 0.05em;
	margin: auto;
	align-items: center;
}

.bottles {
	width: 1440px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}

.bottle1 {
	width: 281px;
	height: 863px;
	background-image: url(../img/wang.png);
}

.bottle2 {
	width: 279px;
	height: 863px;
	background-image: url(../img/blue.png);
}

.bottle3 {
	width: 280px;
	height: 863px;
	background-image: url(../img/chiara.png);
}

.name-bottles {
	width: 1440px;
	display: flex;
	justify-content: space-around;
}

.name-bottle {
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
}

