@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.heading h1 {
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}
.paragraph p {
	font-family: 'PT Sans', sans-serif;
}
.paragraph_two p {
	font-family: 'Arimo', sans-serif;
}