@import url(reset.css);

.outer {
	width: 600px;
	height: 500px;
	border: 5px solid red;
}

.inner {
	width: 100px;
	height: 100px;
	background-color: orange;
	/*margin: 50px 20px 30px 40px;*/ 
	/*margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 50px;*/
}