.linear {
	width: 300px;
	height: 200px;
	background-image: linear-gradient(to right bottom, yellow 10%, red 20%, blue 30%, green 100%);
}
.radial {
	width: 500px;
	height: 500px;
	background-image: radial-gradient(black 10%, red 50%);
}
.shadow {
	width: 300px;
	height: 500px;
	box-shadow: 0px 0px 5px grey;
}