@import url(reset.css);

div {
	height: 300px;
	background-color: red;
}

@media screen and (min-width: 600px) {
	div	{
	height: 400px;
	background-color: blue;
	}
}

@media screen and (min-width: 960px) {
	div {
	height: 500px;
	background-color: yellow;
	}
}

@media screen and (min-width: 1264px) {
	div {
		height: 600px;
		background-color: orange;
	}
}

@media screen and (min-width: 1904px) {
	div {
		height: 700px;
		background-color: green;
	}
}