@import url(reset.css);

div {
	width: 300px;
	height: 300px;
	background-color: blue;
	margin: 20px auto;
	transition: 1s;
}

.translate:hover {
	transform: translate(20px, -30px);
}

.rotate:hover {
	transform: rotate(30deg);
}

.skew:hover {
	transform: skew(20deg, -90deg);
}

.scale:hover {
	transform: scale(0.8, 0);
}


