@import url(reset.css);

div {
	width: 200px;
	height: 200px;
	background-color: blue;
	transition-duration: 1s;
	transition-delay: .5s;
	transition-timing-function: 
}

div:hover {
	width: 300px;
	height: 300px;
	background-color: red;
}