@import url(reset.css);

html {
	font-size: 10px;
}

body {
	font-family: Helvetica;
}

.header, .footer {
	height: 10rem;
	background-color: #0000FF;
	line-height: 10rem;
	color: white;
	font-weight: bold;
	padding-left: 3rem;
}

.blocks {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block {
	display: flex;
	width: 90vw;
	height: 25vh;
	margin: 7vw;
	border: .5rem solid #000000;
}

.block p {
	margin: auto;
	font-weight: bold;
	font-size: 4vh;
	text-align: center;
}

@media screen and (min-width: 667px) {
	
	.blocks {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 7vw 2vw;
	}
	
	.block {
		width: 40vw;
		height: 40vh;
		border: 5px solid #000000;
		margin: 1vw;
	}

	.block p {
		font-weight: bold;
		font-size: 3vw;
		text-align: center;
		margin: auto;
		font-family: Helvetica;
	}
}